.custom-progress-bar {
    background: #F6F6F6 !important;
    height: 100%;
    z-index: -50;
    opacity: 0.1;
    border-radius: 0 20px 20px 0;
  }

  @media (max-width: 640px) {
    .Toastify__toast-container--bottom-left {
        left: 0px;
    }
    .Toastify__toast-container--top-left {
        left: 0px;
    }
    .Toastify__toast-container--top-right {
        right: 0px;
    }
    .Toastify__toast-container--bottom-right {
        right: 0px;
    }
    .Toastify__toast-container {
        padding: 4px;
    }
  }
  
  .Toastify__close-button {
    align-self: center;
  }